.add-retro-error {
  color: $off-white;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}
.add-retro {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}
.add-retro__input {
  flex-grow: 1;
  // background: $dark-blue;
  border: none;
  border-bottom: 0.3rem solid darken($color: $off-white, $amount: 10%);
  margin: 0 0 $s-size 0;
  color: $off-white;
  padding: $s-size;
}
.button {
  background: $off-white;
  border: none;
  color: $white;
  font-weight: 500;
  padding: $s-size;
  text-decoration: none;
}
